In [1]:
import pandapower as pp

In [19]:
net = pp.create_empty_network()

bus1 = pp.create_bus(net, name="LV BusBar 1", vn_kv = 7.2, type="b")
bus2 = pp.create_bus(net, name="LV BusBar 2", vn_kv = 7.2, type="b")
bus3 = pp.create_bus(net, name="LV BusBar 3", vn_kv = 7.2, type="b")
bus4 = pp.create_bus(net, name="LV BusBar 4", vn_kv = 7.2, type="b")
bus5 = pp.create_bus(net, name="LV BusBar 5", vn_kv = 7.2, type="b")
bus6 = pp.create_bus(net, name="LV BusBar 6", vn_kv = 7.2, type="b")
bus7 = pp.create_bus(net, name="LV BusBar 7", vn_kv = 7.2, type="b")
bus8 = pp.create_bus(net, name="LV BusBar 8", vn_kv = 7.2, type="b")
bus9 = pp.create_bus(net, name="LV BusBar 9", vn_kv = 7.2, type="b")
bus10 = pp.create_bus(net, name="LV BusBar 10", vn_kv = 7.2, type="b")

pp.create_ext_grid(net, bus=bus1)

line1 = pp.create_line_from_parameters(net, bus1, bus2, length_km=1, r_ohm_per_km = 0.1705, x_ohm_per_km = 0.3409, c_nf_per_km = None, max_i_ka = None, name="Line 1")
line2 = pp.create_line_from_parameters(net, bus2, bus3, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 2")
line3 = pp.create_line_from_parameters(net, bus3, bus4, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 3")
line4 = pp.create_line_from_parameters(net, bus4, bus5, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 4")
line5 = pp.create_line_from_parameters(net, bus5, bus6, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 5")
line6 = pp.create_line_from_parameters(net, bus6, bus7, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 6")
line7 = pp.create_line_from_parameters(net, bus7, bus8, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 7")
line8 = pp.create_line_from_parameters(net, bus8, bus9, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 8")
line9 = pp.create_line_from_parameters(net, bus9, bus10, length_km=1, r_ohm_per_km = 0.2273, x_ohm_per_km = 0.4545, c_nf_per_km = None, max_i_ka = None, name="Line 9")

load1 = pp.create_load(net, bus2, p_mw = 1500, q_mvar = 750, name="load1")
load2 = pp.create_load(net, bus3, p_mw = 900, q_mvar = 500, name="load2")
load3 = pp.create_load(net, bus4, p_mw = 800, q_mvar = 450, name="load3")
load4 = pp.create_load(net, bus5, p_mw = 700, q_mvar = 400, name="load4")
load5 = pp.create_load(net, bus6, p_mw = 600, q_mvar = 350, name="load5")
load6 = pp.create_load(net, bus7, p_mw = 500, q_mvar = 300, name="load6")
load7 = pp.create_load(net, bus8, p_mw = 400, q_mvar = 250, name="load7")
load8 = pp.create_load(net, bus9, p_mw = 300, q_mvar = 200, name="load8")
load9 = pp.create_load(net, bus10, p_mw = 200, q_mvar = 100, name="load9")

In [20]:
net.bus

           name  vn_kv type  zone  in_service
0   LV BusBar 1    7.2    b  None        True
1   LV BusBar 2    7.2    b  None        True
2   LV BusBar 3    7.2    b  None        True
3   LV BusBar 4    7.2    b  None        True
4   LV BusBar 5    7.2    b  None        True
5   LV BusBar 6    7.2    b  None        True
6   LV BusBar 7    7.2    b  None        True
7   LV BusBar 8    7.2    b  None        True
8   LV BusBar 9    7.2    b  None        True
9  LV BusBar 10    7.2    b  None        True

In [21]:
net.ext_grid

   name  bus  vm_pu  va_degree  slack_weight  in_service
0  None    0    1.0        0.0           1.0        True

In [5]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line 1,None,0,1,1.0,0.1705,0.3409,NaN,0.0,NaN,1.0,1,None,True
1,Line 2,None,1,2,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
2,Line 3,None,2,3,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
3,Line 4,None,3,4,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
4,Line 5,None,4,5,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
5,Line 6,None,5,6,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
6,Line 7,None,6,7,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
7,Line 8,None,7,8,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True
8,Line 9,None,8,9,1.0,0.2273,0.4545,NaN,0.0,NaN,1.0,1,None,True

In [6]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,load1,1,1500.0,750.0,0.0,0.0,NaN,1.0,True,wye
1,load2,2,900.0,500.0,0.0,0.0,NaN,1.0,True,wye
2,load3,3,800.0,450.0,0.0,0.0,NaN,1.0,True,wye
3,load4,4,700.0,400.0,0.0,0.0,NaN,1.0,True,wye
4,load5,5,600.0,350.0,0.0,0.0,NaN,1.0,True,wye
5,load6,6,500.0,300.0,0.0,0.0,NaN,1.0,True,wye
6,load7,7,400.0,250.0,0.0,0.0,NaN,1.0,True,wye
7,load8,8,300.0,200.0,0.0,0.0,NaN,1.0,True,wye
8,load9,9,200.0,100.0,0.0,0.0,NaN,1.0,True,wye

In [16]:
pp.runpp(net, algorithm="bfsw")

LoadflowNotConverged: Power Flow bfsw did not converge after 100 iterations!

In [18]:
net.res_bus

   vm_pu  va_degree  p_mw  q_mvar
0    NaN        NaN   NaN     NaN
1    NaN        NaN   NaN     NaN
2    NaN        NaN   NaN     NaN
3    NaN        NaN   NaN     NaN
4    NaN        NaN   NaN     NaN
5    NaN        NaN   NaN     NaN
6    NaN        NaN   NaN     NaN
7    NaN        NaN   NaN     NaN
8    NaN        NaN   NaN     NaN
9    NaN        NaN   NaN     NaN